@media screen and (max-width: 510px) {
/* start m510 */

/* jhop menu-category 
.sblock4.category {border: 1px solid #ccc;background: #fff;display: inline-block;padding: 5px 5px 15px;margin: 0 0 20px;max-width: 100%;vertical-align: top;box-shadow: 0px 2px 3px #aaa;min-height: 0;text-align: center;}
.tovar:nth-child(4n+1), .sblock4.category:nth-child(4n+1) {margin-left:0;}
p.category_short_description {margin:0;font-size: 13px;line-height: 16px;}
.category_name a {display: block;text-align: center;font-size: 17px;font-weight: 600;color: #000;margin: 10px 0 8px;text-decoration: none;} */

.ou {width: 83%; padding-top: 63%;}
/* 404 */
.p404 .title {font-size: 130px;}
.p404 .desc {font-size: 21px;}
/* 404 */

#component .img_master {float:none; margin:0 0 10px 0;}
#component .one_master {margin:0 0 20px 0; width:100%;}

/* end m510 */
}