@font-face {font-family: 'light'; src: url('../fonts/light.eot'); src: url('../fonts/light.eot?#iefix') format('embedded-opentype'), url('../fonts/light.woff2') format('woff2'), url('../fonts/light.woff') format('woff'), url('../fonts/light.ttf') format('truetype'), url('../fonts/light.svg#helveticaneuecyrlight') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'regular'; src: url('../fonts/regular.eot'); src: url('../fonts/regular.eot?#iefix') format('embedded-opentype'), url('../fonts/regular.woff2') format('woff2'), url('../fonts/regular.woff') format('woff'), url('../fonts/regular.ttf') format('truetype'), url('../fonts/regular.svg#helveticaneuecyrregular') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'medium'; src: url('../fonts/medium.eot'); src: url('../fonts/medium.eot?#iefix') format('embedded-opentype'), url('../fonts/medium.woff2') format('woff2'), url('../fonts/medium.woff') format('woff'), url('../fonts/medium.ttf') format('truetype'), url('../fonts/medium.svg#helveticaneuecyrmedium') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'bold'; src: url('../fonts/bold.eot'); src: url('../fonts/bold.eot?#iefix') format('embedded-opentype'), url('../fonts/bold.woff2') format('woff2'), url('../fonts/bold.woff') format('woff'), url('../fonts/bold.ttf') format('truetype'), url('../fonts/bold.svg#helveticaneuecyrbold') format('svg'); font-weight: normal; font-style: normal;}

* {margin:0;padding:0;max-height: 9001em;-webkit-text-size-adjust: 100%;}
input:focus, textarea:focus {outline:none;}
img {border:none;max-width: 100%;height: auto;}
sup {font-size:60%;}
a {color: #1175b5;}
a:hover{}
table {border-collapse: collapse;border-spacing:0px;word-wrap: normal;}
#bottom .moduletable {margin-bottom:50px;}
.clean {clear:both;}
.no-wrap {white-space:nowrap;}

.blue-button {background:  #f4cb67;border: 0px;color: #fff;border-radius: 2px;text-decoration: none;padding: 12px 35px;font-family: light; transition: background 0.3s;margin: 0 0 17px;text-align: center;display: inline-block;}
.blue-button:hover {background: #2581cf;}
.blue-button.pdf {background:  #f4cb67 url(/images/pdf.png) 20px center no-repeat;padding-left: 60px;}
.blue-button.pdf:hover {background: #2581cf url(/images/pdf.png) 20px center no-repeat;padding-left: 60px;}
.blue-button.photocam {background:  #f4cb67 url(/images/photocam.png) 20px center no-repeat;padding-left: 60px;}
.blue-button.photocam:hover {background: #2581cf url(/images/photocam.png) 20px center no-repeat;padding-left: 60px;}
.blue-button.bolt {background:  #f4cb67 url(/images/krep.png) 20px center no-repeat;padding-left: 45px;}
.blue-button.bolt:hover {background: #2581cf url(/images/krep.png) 20px center no-repeat;padding-left: 45px;}

/* smotr */
.moduletable.smotr {width: 100% !important;}
.custom.smotr {max-width:100%;}
.custom.smotr img, .custom.smotr a {max-width:100%;height: auto;}
.custom.smotr li {max-width:20%;}

nav.navi {margin: 30px 0;background: #e9f5ff;padding: 15px;border-radius: 4px;}
nav.navi a {display: inline-block;text-decoration: none;padding: 7px 10px;margin: 0 0 0 10px;border: 1px solid #888; color:#333;}
nav.navi a:hover {border: 1px solid #158fd4;color: #158fd2;}
nav.navi a:first-child {margin:0;}

.div_right {width: 328px;float: right;margin: -4px 0 0 40px;}
.sigplus-gallery img, .sigplus-gallery a {display:block !important;}

#mxcpr {display:none;}

/* start modal */
#modal_form {width: 254px;/* height: 260px; border: 3px #afafaf solid; */background: #fff;position: fixed;top: 30%;left: 50%;margin-top: -126px;margin-left: -157px;display: none;opacity: 0;z-index: 400;padding: 19px 30px 20px;border-radius: 0px;}
#modal_close {cursor: pointer; display: block; top: 6px; color: #949494; font-size: 19px; position: absolute; right: 13px;}
#overlay {z-index:300;position:fixed; background-color:#000; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); width:100%; height:100%; top:0; left:0; cursor:pointer; display:none;}
.form_desc span {display: block;font-size: 26px;}
.form_desc {text-align:center;font-size: 20px;margin: 0 0 22px;line-height: 28px;}
#modal_form .rsform-input-box {width: 214px;font-size:19px;font-family: light, sans-serif;font-weight:300;height:40px;padding: 0 20px;border: 1px solid #ccc;margin: 0 0 6px;}
#modal_form .rsform-block {margin: 0 0 10px;position: relative;}
#modal_form .rsform-submit-button {width: 255px;height: 44px;font-size: 20px;font-weight: 300;background: #1175b5;border: none;color: #fff;font-family: light, sans-serif;cursor: pointer;border-radius: 2px;}
/* end modal */

/* start modal2 */

#modal_form2 {width: 254px;background: #fff;position: fixed;left: 50%;margin-top:0;margin-left: -157px;display: none;opacity: 0;z-index: 400;padding: 19px 30px 50px;border-radius: 0px;transform: translateY(-40%);}
#modal_form2 #overlay {z-index:300;position:fixed; background-color:#000; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); width:100%; height:100%; top:0; left:0; cursor:pointer; display:none;}
#modal_form2 .form_desc span {display: block;font-size: 25px;}
#modal_form2 .form_desc {text-align:center;font-size: 20px;margin: 0 0 22px;line-height: 28px;}
#modal_form2 .rsform-input-box {width: 214px;font-size: 16px;font-family: light, sans-serif;font-weight:300;height:40px;padding: 0 20px;border: 1px solid #ccc;margin: 0 0 6px;}
#modal_form2 .rsform-input-box:valid {font-size:20px;}
#modal_form2 .rsform-block {margin: 0 0 10px;position: relative;}
#modal_form2 .rsform-block-comm {margin-bottom:15px;}
#modal_form2 .rsform-block-upload {margin-bottom: 15px;height: 40px;display:  inline-block;}
#modal_form2 .rsform-block-upload input {opacity:  0;}
#modal_form2 #l-upload {position:  absolute;left:  0;top: calc(50% - 16px);background: #1275b6;width: 117px;height: 15px;border-radius:  3px;text-align:  center;padding: 8px 0 9px;cursor:  pointer;color:  #fff;transition: background .3s .2s;font-size: 13px;}
#modal_form2 .rsform-block-upload input:valid + label {background: green !important;transition: background .3s .5s !important;}
#modal_form2 #p-image {max-height: 45px;position:absolute;top: 50%;left: 130px;max-width: 125px;transform: translateY(-50%);opacity: 0;}
#modal_form2 #p-image[src*=base] {opacity: 1;}
#modal_form2 textarea {width: calc(100% - 40px) !important;height:  150px;max-height: 300px;min-height: 60px;padding:  0 20px;text-align:left;resize:  none;overflow:  auto;margin:  0;}
#modal_form2 textarea:placeholder-shown {text-align:center;}
#modal_form2 .rsform-submit-button {width: 255px;height: 44px;font-size: 20px;font-weight: 300;background: #1175b5;border: none;color: #fff;font-family: light, sans-serif;cursor: pointer;border-radius: 2px;}
#modal_form2 .rsform-block-capch  {margin-left: -30px;width: calc(100% + 48px);padding: 0px 6px;margin-bottom: 15px;}
#modal_form2 .formError {top: -18px; margin-left: 0; bottom: auto; display:  inline-block;width: 100%; text-align:  center;left:  0;}
/* end modal */

.dlya_doma_title, .dlya_biznesa_title {font-size: 27px; color: #000;}
.dlya_doma {float: left;width: 235px;}
.dlya_biznesa {float:left;border-left: 1px solid #b4b4b4;padding: 0 0 0 55px;}

/* katalog-uslug */
.description {font-size:14px;}

/* footer */
.footmenu .current > a {color:#e5372d !important;}
.footmenu .active h3, .footmenu .active .h3 {background: #fff; padding: 5px 10px; border:none;}

.naprice {color: #fff;display: inline-block;padding: 0 20px 0 42px;height: 40px;line-height: 40px;text-decoration: none;background: #1175b5 url(../images/ruble5.png) 16px 11px no-repeat;border-radius: 4px;font-size: 18px;margin: -5px 0 20px 0;}

.knopka {background: #1175b5;display: inline-block;margin: 3px 0 21px 1px;color: #fff;font-size: 17px;font-weight: 300;padding: 10px 35px;border-radius: 3px;cursor: pointer;}
.knopka:hover {background: #1069a2;}
.knopka:active {margin: 4px 0 20px 1px;}


/* cons */
.cons {position: relative;margin: 12px 3px 5px;width: 174px;border: 1px solid #ddd;padding: 8px 5px 16px;border-radius: 1px;display: inline-block;font-size: 13px;vertical-align: top;color: #777;max-width: 43%;}
.cons span {font-size: 17px;color: #000;margin: 0 0 3px;display: block;}
.cons img {max-width:100%;margin: 0 0 7px;border-radius: 4px;}
.cons a {font-size: 16px;display:inline-block;margin: 7px 0 0;}
.pers {text-align:center; margin:0 0 30px 0;}





.even, .odd {border: 1px solid #ccc; border-radius: 8px; margin: 30px 0; padding: 19px 20px 20px;}
.comment-author {color: #1175b5; font-family: bold; font-size: 18px; margin: 0 10px 0 0;}
.comment-date {font-size: 13px;}
.comment-body {margin: 8px 0 0;}
.otz_forma {border:1px solid #237eca;padding:25px 20px;display: inline-block;}
.otz_forma .rsform-input-box {margin:0 0 15px; border-radius:3px;}
.otz_forma .rsform-text-box {margin:0 0 15px; border-radius:3px;}
.otz_forma .v_submit button {margin: 15px 0 0;border-radius: 3px;}



/* 404 */
.p404 {text-align:center;}
.p404 .title {font-weight:400;display:inline-block;line-height:1;margin:0;vertical-align:top;font-size:230px;}
.p404 .desc {margin:0 0 40px;font-size: 40px;}
.p404 .btn {font-size:20px;}
.p404 .button_detail {cursor:pointer;width: 180px;height: 40px;display: inline-block;text-align: center;line-height: 40px;color: #333;text-decoration: none;border-radius: 5px;font-size: 18px;font-weight: 300;border: 1px solid #1175b5;margin: 0 0 10px;}
.p404 .button_detail:hover {background: #1175b5;color: #fff;}
/* 404 */
