/*
Theme Name: mosremokna.ru
Author: Mosremokna
Author URI: https://mosremokna.ru
Version: 1.0
*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0 0 20px 0;
}
p {
	margin: 0 0 10px 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; 
  line-height: 1.4;
  color: #000;
 overflow-x: hidden;
	background: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #4285f4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3367d6;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
	margin: 0 0 20px 0;
}
.nav-tabs > li {
  float: left;
    padding: 10px 15px !important;
	border: 1px solid #dddddd;
	margin: 0 15px 15px 0

}
.nav-tabs > li > a {
  color: #000 !important;
  border: 1px solid #fff;


  line-height: 1.42857143;
  
}
.nav-tabs > li > a:hover {
  color: #000;
  border: 1px solid #fff;


  line-height: 1.42857143;
  
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000;

  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
  padding: 0 !important
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
	padding: 10px 0;
  margin-right: 0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
	color: #000 !important;
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar {
  position: relative;
  min-height: 50px;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-brand {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
	height: 50px;
	width: auto;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
}
.navbar-form {
  padding: 10px 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4285f4;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.navbar-default .btn-link {
  color: #777777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}
.table-responsive{min-height:.01%;overflow-x:auto}@media screen and (max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd}.table-responsive>.table{margin-bottom:0}.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{white-space:nowrap}.table-responsive>.table-bordered{border:0}.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@media (max-width:767px){.hidden-xs{display:none!important}}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}
@media (min-width:1200px){.hidden-lg{display:none!important}}
/**
* @section title
*/
.title {
	position: relative;
	margin-bottom: 50px;
	text-align: left;
}
.title p:nth-child(1) {
	color: #000;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	padding: 0;
	margin: 0;
}
.title p:nth-child(1):before {
	background-color: #ffcd18;
    bottom: -10px;
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
}
.title p:nth-child(2) {
    line-height: 24px;
    color: #516576;
}
/**
* @section header
*/
#header {
	background: transparent;
	padding: 15px 0;
	position: relative;
}
/**
* @section header address & email
*/
#header_address {
	padding-top: 12px;
	position: relative;
	text-align: right;
}
#header_address p {
	color: #fff;
	display: inline-block;
	margin: 0;
}
#header_address p a {
	color: #fff;
	text-decoration: none;
}
#header_address p:nth-child(1) {
	background-image: url(assets/img/icons/calculator_2.svg);
	background-repeat: no-repeat;
	background-position: 0 2px;
	background-size: 22px auto;
	font-size: 18px;
	line-height: 26px;
	padding: 0 0 0 32px;
	text-shadow: 0 0 10px #000;
	
	background-position: 14px 11px;
    background-color: #2cb742;
    padding: 10px 15px 10px 50px;
}
/**
* @section header button
*/
#header_button {
	padding-top: 7px;
	position: relative;
}
#header_button p {
	display: inline-block;
	margin: 0;
}
#header_button p:nth-child(1) {
	background-image: url(assets/img/icons/header_button_tel.svg);
	background-repeat: no-repeat;
	background-position: 0 4px;
	background-size: 20px auto;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	padding: 0 0 0 30px;
}
#header_button p:nth-child(1) a {
	color: #fff;
	text-shadow: 0 0 10px #000;
}
#header_button p:nth-child(2) {
	color: #fff;
	font-size: 14px;
}
#header_button p:nth-child(2) a {
	display: inline-block;
}
#header_button p:nth-child(2) img {
	height: 42px;
	padding-left: 20px;
	margin-top: -3px;
	width: auto;
}
#header_button p:nth-child(3) {
	padding-left: 17px;
}
#header_button p:nth-child(3) a {
	background: #ffcd18;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	padding: 13px 26px 13px 26px;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
}
#header_button p:nth-child(3) a:hover {
	box-shadow: none;
}
/**
* @section nav
*/
#navigation {
	background: transparent;
	border-top: 1px solid #ffffff30;
	padding-bottom: 80px;
}
#navbar {
	padding: 5px 0;
	position: relative;
}
.navbar-nav {
	float: none !important;
	margin: 0 auto !important;
	display: block !important;
	text-align: center !important;
}
.navbar-nav > li {
	display: inline-block !important;
	float: none !important;
}
.nav > li {
	padding: 10px 26px;
}
.nav > li > a {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	text-transform: uppercase;
}
.nav > li > a:hover {
	color: #fff;
	text-decoration: underline;
}
.current_menu a {
	color: #3367d6 !important;
}
.fixed {
	background: #fff !important;
	box-shadow: 0px 14px 90px 0px rgba(223,229,233,0.5);
	padding: 0 !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	height: 120px !important;
	width: 100% !important;
	z-index: 800 !important;
}
.page-id-83 .fixed {
	position: relative !important;
}
.fixed #header {
    padding: 10px 0 5px 0;
}
.fixed .nav > li > a {
	color: #000;
}
.fixed #header_address p {
	color: #000;
}
.fixed #header_address p a {
	color: #000;
}
.fixed #header_address p:nth-child(1) {
	background-image: url(assets/img/icons/calculator_3.svg);
	text-shadow: none;
}
.fixed #header_button p:nth-child(1) a {
    color: #000;
    text-shadow: none;
}
/**
* @section cta
*/
#cta {
    background-image: url(assets/img/remontokon.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	padding: 0 0 100px 0;
    position: relative;
}
#cta:before {
	background: #000000;
	content: '';
    position: absolute;
	opacity: 0.4;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#cta_page {
    background-image: url(assets/img/cta_page.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	padding: 0 0 20px 0;
    position: relative;
}
#cta_page #navigation {
	padding-bottom: 0;
}
#cta_page:before {
	background: #000000;
	content: '';
    position: absolute;
	opacity: 0.4;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#cta_title {
	margin: 50px 0 50px 0;
}
#cta_title h1 {
	font-size: 50px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	text-shadow: 0 0 10px #000;
}
#cta_title p {
	color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 10px #000;
}
.cta_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
	padding-left: 25px;
    margin-bottom: 30px;
	text-shadow: 0 0 10px #000;
}
.cta_list_icon {
    width: 13px;
    min-width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #02a7e4a3;
    position: relative;
    box-shadow: 0 0 30px 12px rgba(0,203,255,.4);
    margin-right: 30px;
}
.cta_list_icon:before {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #00cbff;
}
.cta_list_content {
	font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.cta_list_content span {
	border-bottom: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}
/**
* @section form
*/
#header_form {
	color: #fff;
	position: relative;
	max-width: 370px;
	text-align: center;
}
#form_inner {
	background: #ffffff20;
	padding: 30px;
	position: relative;
}
#form_inner > p:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}
#form_inner > p:nth-child(2) {
	line-height: 25px;
	margin-bottom: 20px;
}
#form_inner input[type="text"], #form_inner input[type="tel"] {
	background: transparent;
    border: 1px solid #e1e1e1;
	color: #333 !important;
	display: block;
	font-size: 14px;
	margin-bottom: 0;
	padding: 20px 30px;
	width: 100%;
}
.wpcf7-submit {
	background: #ffcd18;
	border: 1px solid #ffcd18;
	color: #333;
	display: block;
	font-weight: 700;
	line-height: 1;
	padding: 20px 30px;
	margin-bottom: 0;
	width: 100%;
	text-transform: uppercase;
}
.wpcf7-submit:hover {
	background: #ffcd18;
	border: 1px solid #ffcd18;
}
.privacy {
	font-size: 13px;
	line-height: 15px;
	margin: 10px 0 0 0;
}
#form_inner form ::-webkit-input-placeholder {
	color: #fff;
}
#form_inner form ::-moz-placeholder {
	color: #fff;
}
#form_inner form :-moz-placeholder {
	color: #fff;
}
#form_inner form :-ms-input-placeholder {
	color: #fff;
}
.wpcf7-validation-errors {
	border-radius: 3px !important;
    border: none !important;
	display: none !important;
}
.wpcf7-not-valid-tip {
	display: none !important
}
.wpcf7-not-valid{
	border: 1px solid #f00!important
}
div.wpcf7-mail-sent-ng {
    border: none !important;
	font-size: 13px;
	margin-top: -30px !important;
	text-align: center;
}
.wpcf7-response-output {
	color: #000;
	margin: 10px 0 0 0!important
}
div.wpcf7-mail-sent-ok {
	border: none !important;
	font-size: 13px;
	text-align: center;
}
#fbuilder input[type="number"] {
	padding: 4px 10px;
}
#fieldname4_1 {
    border: none !important;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
#fbuilder .top_aligned .fields label {
	font-size: 90%;
	font-weight: 300;
	/*width: 285px;*/
}
.labelfm label {
	font-size: 110% !important;
	font-weight: 500;
	/*width: 285px;*/
}
#fbuilder span.uh {
	display: inline-block !important;
    font-size: 100% !important;
    font-weight: 500 !important;
	margin-left: 20px !important;
}
#field_1-14 span.uh {
	display: block !important;
    font-size: 80% !important;
    font-weight: 400 !important;
	margin-left: 0 !important;
}
#fbuilder .fields.column2 {
    margin-bottom: 10px;
}
/**
* @section modal window
*/
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.15);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.modal-window:target {
	opacity: 1;
	pointer-events: auto;
}
.modal-window>div {
	box-shadow: 0px 14px 90px 0px rgba(223,229,233,0.5);
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: #fff;
	color: #444;
}
.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}
.modal-close:hover {
	color: #000;
}
.modal-window h4 {
	font-size: 18px;
	margin: 0 0 15px 0;
	color: #21545b;
}
.modal-window input[type="text"], .modal-window input[type="tel"] {
	background: transparent;
    border: 1px solid #e1e1e1;
	color: #333 !important;
	display: block;
	font-size: 14px;
	margin-bottom: 0px;
	padding: 20px 30px;
	width: 100%;
}
.modal-window .wpcf7-submit {
	background: #ffcd18;
	border: 1px solid #ffcd18;
	color: #333;
	display: block;
	font-weight: 700;
	line-height: 1;
	padding: 20px 30px;
	margin-bottom: 5px;
	width: 100%;
	text-transform: uppercase;
}
/**
* @section services
*/
#services {
	background: #f9f9f9;
	border-bottom: 1px solid #e1e1e1;
	padding: 80px 0 30px 0;
    position: relative;
}
.services_item {
	background-color: #fff;
    border: 1px solid #e6e8e8;
    position: relative;
	height: 100%;
    text-align: left;
    overflow: hidden;
	margin-bottom: 50px;
}
.services_item a, .services_item a:hover {
	color: #000;
	text-decoration: none;
}
.services_caption {
	padding: 30px 20px 20px 20px;
	position: relative;
    z-index: 2;
}
.services_caption img {
	display: block;
	height: 60px;
	width: auto;
	margin-bottom: 20px;
}
.services_caption p:nth-child(2) {
	color: #222931;
	font-weight: 500;
	font-size: 22px;
	line-height: 22px;
	position: relative;
	margin-bottom: 20px;
}
.services_caption p:nth-child(2):before {
	background-color: #ffcd18;
    bottom: -10px;
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 3px;
}
.caption_image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	height: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: 3;
}
.caption_desc {
    position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	line-height: 1;
	height: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: 3;
}
.caption_image img {
	display: block;
}
.caption_desc {
	color: #fff;
	display: block;
	font-size: 20px;
	text-shadow: 0 0 20px #000;
}
.services_item a:hover > .caption_image {
    opacity: 1;
	transition: opacity 0.6s;
}
.services_item a:hover > .caption_desc {
    opacity: 1;
	transition: opacity 0.6s;
}
/**
* @section price
*/
#price {
	padding: 80px 0 0 0;
    position: relative;
	margin-bottom: 80px;
}
#price .title p:nth-child(1) {
	margin-bottom: 30px;
}
.home #price {
    margin-bottom: 30px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table td, table th {
	border: 1px solid #edf2f8;
	padding: 10px 15px;
	text-align: left;
}
table tr {
	background-color: #f9f9f9;
}
table tr:nth-child(even) {
	background-color: #fff;
}
table th {
	background-color: #53a1d4;
	color: #fff;
	padding: 10px 15px;
}
.dataTables_wrapper {
	margin: 30px 0 !important;
}
.tablepress tfoot th, .tablepress thead th {
    background-color: #53a1d4 !important;
    font-weight: 700;
    vertical-align: middle;
}
.tablepress td, .tablepress th {
    border: 1px solid #edf2f8 !important;
	padding: 10px 15px !important;
	text-align: left !important;
}
.su-tabs {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background: none !important;
}
.su-tabs-pane {
    padding: 0 !important;
    font-size: 17px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: #000 !important;
}
.su-tabs-nav span {
    border: 1px solid #ddd !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
    line-height: 1.42857143 !important;
	
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;


	
	padding: 10px 15px !important;
    margin: 0 15px 15px 0 !important;
    text-transform: uppercase !important;
}
.all_price {
	margin: 40px 0 0 0;
	text-align: center;
}
.all_price a {
    background: #ffcd18;
    border: 1px solid #ffcd18;
    color: #333;
    display: inline-block;
	font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 15px 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#min_zakaz {
	background-image: url(assets/img/icons/info.svg);
	background-repeat: no-repeat;
	background-position: 40px 40px;
	background-size: 40px auto;
	background-color: #f9f9f9;
	padding: 30px 40px 30px 120px;
	width: 900px;
	margin: 40px auto;
}
#min_zakaz p {
	margin: 0;
}
#min_zakaz p:nth-child(2) {
	margin-top: 20px;
}
#min_zakaz p:nth-child(2) a {
	font-weight: 700;
	text-decoration: underline;
}
/**
* @section features
*/
#features {
	position: relative;
	margin-bottom: 0;
}
.features_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
	padding: 20px 10px;
}
.features_list:hover {
	background: #dff9fb60;
	transition: all 0.3s;
}
.features_list_content p:nth-child(1) {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}
.features_one .features_list_content {
	padding-right: 10px;
}
.features_two .features_list_content {
	padding-left: 10px;
}
.features_list_icon {
	position: relative;
}
.features_list_icon img {
	display: block;
	height: 60px;
	width: auto;
}
/**
* @section prichiny
*/
#prichiny {
	padding: 0;
	position: relative;
}
/**
* @section works
*/
#works {
	padding: 80px 0 50px 0;
	position: relative;
}
.works_item {
	position: relative;
	margin-bottom: 30px;
}
.category-3 .works_item {
	margin-bottom: 60px;
}
.work_cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border: 10px solid #f3f7f8;
	height: 200px;
}
.work_title {
	font-size: 18px;
	font-weight: 600;
	margin: 10px 0;
}
.work_desc {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.work_desc img {
	height: 20px;
	width: auto;
	margin: -2px 5px 0 0;
}
/**
* @section step
*/
#step {
	background: #f9f9f9;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 80px 0;
	position: relative;
}
#step .title p:nth-child(1) {
	margin-bottom: 10px;
}
.step_item {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 60px 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
	min-height: 270px;
}
.step_item img {
	height: 70px;
	width: auto;
	margin-bottom: 10px;
}
.step_item p {
	margin: 0;
}
/**
* @section feedback
*/
#feedback {
	padding: 80px 0;
	position: relative;
}
.feedback_item p:nth-child(1) {
	color: #6666667d;
	padding: 0;
	margin: 0 0 5px 0;
}
.feedback_item p:nth-child(2) {
	font-size: 25px;
	font-weight: 500;
	line-height: 1;
	padding: 0;
	margin: 0;
}
.feedback_email {
	background-image: url(assets/img/icons/feedback_email.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 40px 40px;
	padding: 0 0 0 55px;
}
.feedback_phone {
	background-image: url(assets/img/icons/feedback_phone.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 40px 40px;
	padding: 0 0 0 55px;
}
.feedback_callme {
	background-image: url(assets/img/icons/feedback_callme.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 40px 40px;
	padding: 0 0 0 55px;
}
/**
* @section masters
*/
#masters {
	background: #f9f9f9;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 80px 0 100px 0;
	position: relative;
}
#masters .title p:nth-child(1) {
	margin-bottom: 10px;
}
.masters_item {
	background-color: #fff;
	box-shadow: 0px 14px 90px 0px rgba(223,229,233,0.5);
    padding: 50px 30px;
    transition: .3s;
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.masters_item:hover img {
	border: 5px solid #4285f4;
	transition: all 0.5s;
}
.masters_item:hover p:nth-child(3):after {
	background: #4285f4;
    width: 62px;
}
.masters_item img {
	border-radius: 50%;
	border: 5px solid #fff;
	margin-bottom: 20px;
}
.masters_item p:nth-child(2) {
	color: #333;
	font-size: 20px;
	font-weight: 700;
}
.masters_item p:nth-child(3) {
	color: #999;
	padding-bottom: 15px;
	position: relative;
}
.masters_item p:nth-child(3):after {
	background: #3367d6;
    content: "";
    height: 3px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 42px;
    transition: .3s;
}
/**
* @section review
*/
#review {
	position: relative;
	margin: 80px 0 40px 0;
}
#review .title p:nth-child(1) {
	margin-bottom: 10px;
}
#review_button {
	margin-bottom: 80px;
}
.review_button_item {
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 120px 30px 30px 30px;
	height: 160px;
	position: relative;
	text-align: center;
}
.review_button_item:before {
	background: #000000;
	content: '';
    position: absolute;
	opacity: 0.2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.review_button_item p {
	margin: 0;
	position: relative;
}
.review_button_item p a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 0 10px #000;
}
.review_button_item img {
	display: block;
	height: 30px;
	width: auto;
	margin-bottom: 15px;
}
#review_button {
	border-top: 1px solid #f0f0f0;
	padding-top: 50px;
	margin-top: 50px;
	position: relative;
}
#review_button:before {
    content: "↓";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    text-align: center;
    line-height: 50px;
    color: #c0c0c0;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    background: #fff;
    z-index: 1;
}
/**
* @section advantages
*/
#advantages {
	background: #f9f9f9;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 80px 0 30px 0;
	position: relative;
}
#advantages .title p:nth-child(1) {
	margin-bottom: 10px;
}
.advantages_item {
	background-color: #fff;
    padding: 30px;
	clear: both;
	display: block;
	margin: 0 auto 50px 0;
	text-align: center;
}
.advantages_item img {
    height: 70px;
    width: auto;
    margin-bottom: 10px;
}
/**
* @section about us
*/
#about_us {
	padding-top: 80px;
	position: relative;
}
/**
* @section video
*/
#video {
	position: relative;
}
.video_wrapper {
	border: 10px solid #f3f7f8;
	background-color: #000;
	/*padding-top: 56%;*/
	position: relative;
	height: 400px;
	width: 100%;
	margin: 50px 0 80px 0;
}
.video_wrapper iframe {
	height: 400px;
}
.videoIframe {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
}

.videoPoster {
	
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  border: 6px solid #ffd339;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -6px 0 0 -4px;
  border-left: 10px solid #ffd339;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
  z-index: 2;
}
.videoPoster:hover:before, .videoPoster:focus:before {
  border-color: #ffd339;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #ffd339;
}
.videoWrapperActive .videoPoster, .videoWrapperActive::before  {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
/**
* @section news
*/
#news {
	background: #f9f9f9;
	border-top: 1px solid #e1e1e1;
	padding: 80px 0;
	position: relative;
}
.news_box {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	height: 200px;
}
.news_box_desc {
	position: relative;
	margin-top: 15px;
}
.category .news_box_desc {
	margin-bottom: 60px;
}
.news_box_desc p:nth-child(1) {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 15px;
}
.news_box_desc p:nth-child(2) a {
	background: transparent;
	border: 1px solid #e1e1e1;
	color: #333;
	display: inline-block;
	padding: 8px 15px;
	text-decoration: none;
}
.news_box_desc p:nth-child(2) a:hover {
	background: #fff;
	border: 1px solid #fed227;
	color: #000;
}
/**
* @section single
*/
#single {
	padding: 50px 0;
	position: relative;
	margin-top: 0;
}
/**
* @section archive navigation
*/
#navi {
	text-align: center;
}
#navi a {
	background: #071426;
	border-radius: 3px;
	color: #fff;
	margin: 0 6px;
	padding: 5px 7px;
	text-decoration: none;
}
#navi a:hover {
	background: #70c9ed;
	border-radius: 3px;
	margin: 0 6px;
	padding: 5px 7px;
	text-decoration: none;
}
#navi .current {
	background: #fff;
	border-radius: 3px;
	color: #000 !important;
	margin: 0 6px;
	padding: 5px 7px;
}
/**
* @section map
*/
#map {
	background: url(assets/img/map.jpg);
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	padding: 50px 0;
	position: relative;
}
#map_item {
	background: #fff;
	display: inline-block;
	padding: 30px 50px 50px 50px;
	position: relative;
}
#map_item p:nth-child(1) {
	font-size: 34px;
	font-weight: 700;
	padding: 0;
	margin: 0 0 15px 0;
}
#map_item p:nth-child(2), #map_item p:nth-child(4), #map_item p:nth-child(6) {
	font-size: 12px;
	margin: 0 0 10px 0;
}
#map_item p:nth-child(3) {
	font-size: 25px;
	padding: 0;
	margin: 0 0 20px 0;
}
#map_item p:nth-child(5) {
	font-size: 20px;
	padding: 0;
	margin: 0 0 20px 0;
}
#map_item p:nth-child(7) {
	font-size: 14px;
	padding: 0;
	margin: 0 0 35px 0;
}
#map_item p:nth-child(8) {
	padding: 0;
	margin: 0;
}
#map_item p:nth-child(8) a {
	background: #ffcd18;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	padding: 13px 20px 13px 20px;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
}
#map_item p:nth-child(8) a :hover {
	box-shadow: none;
}
#district {
	position: absolute;
	top: 41%;
	right: 20%;
	display: inline-block;
}
#district a {
	border-bottom: 1px dashed #000;
	display: inline-block;
	color: #000;
	font-size: 25px;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
}
/**
* @section footer
*/
#footer {
	background: #071426;
	font-size: 15px;
	padding: 40px 0;
	position: relative;
}
.widget {
	color: #fff;
}
.widget p:nth-child(1) {
	font-size: 20px;
	font-weight: 700;
}
.widget ul {
	padding: 0;
	margin: 0;
}
.widget ul li a {
	color: #fff;
}
.widget ul li {
	list-style: none;
	padding-left: 20px;
    line-height: 20px;
	position: relative;
	margin-bottom: 6px;
}
.widget ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f7fa16;
    position: absolute;
    left: 0;
    top: 12px;
}
#social a {
	display: inline-block;
	padding: 10px 10px 0 0;
}
.button-up {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
/**
* @section media
*/
@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 500px){
#cta_page {
	padding: 0;
}
#header {
	padding: 7px 0 0 0;
}
#header_address p:nth-child(1) {
	background: none !important;
    font-size: 15px;
	padding: 5px 0 0 0;
}
#header_button {
	float: none !important;
    padding-top: 10px;
}
#header_button p:nth-child(1) {
	background: none;
	font-size: 18px;
	font-weight: 400;
	padding: 0;
}
#header_button p:nth-child(2) {
    display: none;
}
#header_button p:nth-child(3) {
    display: none;
}
#header_button p:nth-child(2) img {
    height: 30px;
    padding-left: 10px;
    margin-top: -3px;
    width: auto;
}
#navigation {
    padding-bottom: 0px;
}
#navbar {
    background: #fff;
}
.navbar-toggle {
    top: -55px;
    right: 0;
    position: absolute;
}
.navbar-nav {
	text-align: left !important;
}
.navbar-nav > li {
    display: block !important;
}
.navbar-brand > img {
	height: 40px;
}
#cta {
	padding: 150px 0 50px 0;
}
#sticky {
	background: #fff !important;
	box-shadow: 0px 14px 90px 0px rgba(223,229,233,0.5);
	padding: 0 !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	height: 75px !important;
	width: 100% !important;
	z-index: 800 !important;
}
#sticky #header_button p:nth-child(1) a {
    color: #000;
    text-shadow: none;
}
#sticky .nav > li > a {
	color: #000 !important;
}
#navigation > .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.col-md-pd  {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
#header_address {
	background: #f5f5f5;
	display: block;
	padding: 5px;
	margin-top: -1px;
	position: relative;
    text-align: center;
}
#header_address p, #header_address p a {
    color: #000 !important;
}
#header_address p:nth-child(1) {
	background-image: url(assets/img/icons/calculator_3.svg) !important;
	background-repeat: no-repeat !important;
	background-position: 0 2px !important;
	background-size: 22px auto !important;
    color: #000 !important;
	font-size: 18px;
	line-height: 26px;
	padding: 0 0 0 32px;
	text-shadow: none;
}
.navbar {
    min-height: 1px !important;
}
#min_zakaz {
    background-position: 20px 20px;
    background-size: 30px auto;
    padding: 20px 20px 30px 70px;
    width: auto;
}
#step {
    padding: 80px 0 50px 0;
}
.step_item {
	margin-bottom: 30px;
}
#feedback {
	padding: 80px 0 50px 0;
}
.feedback_item {
	margin-bottom: 30px;
}
#masters {
	padding: 80px 0 70px 0;
}
.masters_item {
	margin-bottom: 30px;
}
.review_button_item {
	margin-bottom: 30px;
}
#news {
	padding: 80px 0 50px 0;
}
.news_box_desc {
	margin-bottom: 30px;
}
#district {
	display: none;
}
#footer {
	padding: 40px 10px;
}
.widget {
    margin-bottom: 20px;
}

}

.bread-crumbs{padding-bottom:25px;}