div.fancy-select {
	position: relative;
	font-size: 0.85vw;
	color: #212121;
	font-family: 'Avenir Next', sans-serif;
/*	color: #ffffff;*/
	cursor: pointer;
	font-weight: 400;
	width: 100%;
} 

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	
}

div.fancy-select select:focus + div.trigger.open {
	
}

div.fancy-select div.trigger {
	text-align: left;
	position: relative;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	border-radius: 6px;
	background-color: #ffffff;
	padding: 0.9vw 1vw;
	padding-right: 3vw;
	border: none;
	color: #000000;
	font-size: 0.95vw;
	width: 100%;
	min-height: 4.5vw;
	width: 100%;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
/*	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;*/
}

div.fancy-select div.trigger:after {
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -2px;
	right: 1vw;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 5px solid #999999;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	z-index: 9;
}

div.fancy-select div.trigger.open {
	/*background-color: rgba(0, 0, 0, 0.25);
	color: #ffffff;*/
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	/*border-top-color: #7A8498;*/
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

div.fancy-select ul.options {
	padding-left: 0;
	list-style: none;
	margin: 0;
	margin-top: -2px;
	position: absolute;
	/*top: 2rem;*/
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	overflow: auto;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	max-height: 22vh;
	overflow-y: scroll;
	overflow-x: hidden;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 85%;
	opacity: 1;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: 100%;
	/*bottom: 40px;*/

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: 100%;
	/*bottom: 50px;*/

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	text-align: left;
	padding: 1.1vw;
	color: #9699a9;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	/*white-space: nowrap;
	text-overflow: ellipsis;*/
}
div.fancy-select ul.options li:before{
	display: none;

}
div.fancy-select ul.options li.selected {
	/*background: #04a9f3;*/
	color: #04a9f3;
}

div.fancy-select ul.options li.hover {
	/*background: #04a9f3;*/
	color: #04a9f3;
	cursor: pointer;
}