
<!DOCTYPE html>
<html lang="ru">
<? include $_SERVER['DOCUMENT_ROOT'].'/head.php'?><div class="main" style="background: url(https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/bg.jpg) no-repeat center; background-size: cover;">
		<div class="header">
	<div class="container">
		<div class="header__content">
			<div class="logo">
				<a href="https://kislorod-ok.ru" class="logo__img">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/logo.png" alt="">
				</a>

				<p class="logo__text lg">
					mosremokna.ru - сервис по ремонту и обслуживанию оконных систем в Москве и МО. Работаем с 2009 года 				</p>
			</div>

			<div class="burger__wrap" style="display:none">
			  Меню
			  <div class="burger">
			    <span></span>
			  </div>
			</div>

			<div class="download header__download">
				<div class="download__img">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/Adjustments_over.png" alt="">
				</div>

				<div class="linked-wrap">
					<a href="https://kislorod-ok.ru/wp-content/uploads/2019/12/kislorod-prai-s.pdf.pdf" target="_blank" class="link-doted">Скачать прайс</a>
					<div class="text-small mb">
						(1,2 Mb)
					</div>
				</div>
			</div>

			<div class="social header__social">
				<div class="text-small">
					Задайте вопрос напрямую в: <br>
					(среднее время ответа 24 сек)
				</div>

				<div class="social__wrap">
					<div class="social__item">

						<a href="https://wa.me/79857275045?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21+%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82+%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82+%D0%BE%D0%BA%D0%BE%D0%BD..."  class="link-social wa"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/wa.svg" alt=""><span>WhatsApp</span></a>
					</div>
					<div class="social__item">

						<a href="" class="link-social skype"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/skype.svg" alt=""><span>Skype</span></a>
					</div>

					<div class="social__item ">

						<a href="mailto:{{EMAIL}}" class="link-social e-mail"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/Mail.svg" alt=""> <span>E-mail</span></a>
					</div>
				</div>
			</div>


			<div class="header__contacts">
				<div class="text-small">Есть вопрос? Звоните:</div>

				<div class="elem__block">
					<div class="img__block">
						<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/phone.png" alt="">
					</div>

					<div class="elem__wrap">
											<a href="tel:+79253512022" class="elem__item">+79253512022</a>

											<a href="tel:+79253512022" class="elem__item">+79253512022</a>

																<!-- <a href="tel:+7-977-398-92-38" class="elem__item">+7-977-398-92-38</a> -->
					</div>
				</div>

				<div class="text-small">Прием заявок: с 7:00 - 23:00 без выходных<br />
                    <div class="icon-wrapper">
                        <a href="https://api.whatsapp.com/send?phone=79253512022">
                            <img src="/images/what-icon.png" class="icon">
                        </a>
                        
                        <a href="viber://add?number=79253512022">
                            <img src="/images/viber-icon.png" class="icon">
                        </a>
                        <a href="https://t.me/MosRemOkna">
                            <img src="/images/telegram-icon.png" class="icon">
                        </a>
                    </div>
                    <style>
                        .icon-wrapper {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .icon-wrapper img {
                            margin: 5px 5px;
                            width: 32px !important;
                        }
                    </style>
</div>
			</div>
		</div>
	</div>
</div>		<?include 'nav.php'?>		

		<div class="container">
			<div class="main__block">
				<div class="tooldesc title-first">
					СЕГОДНЯ ДЕЛАЕМ СКИДКУ -20%				</div>

				<h1 class="title title-main title-first">
					Ремонт окон в Москве и М.О.				</h1>

				<ul class="list-none main-list">
					<li class="free">
						Выезд мастера бесплатно!					</li>
					<li>
						Работаем без предоплаты! 					</li>
					<li>
						Диагностика в подарок!					</li>
					<li>
						Повышенная гарантия 2 года по договору!					</li>
				</ul>
				<form action="obrob.php" method="POST" class="main__form" onsubmit="yaCounter56025331.reachGoal('zayavka')">
					<input type="hidden" class="main-label">
					<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - ВЫЗОВ МАСТЕРА (гл.экран)">
					<h3 class="form__title">Срочный вызов мастера:</h3>
					<div class="main__form-wrap">
						<div class="input-block-sm">
							<input type="tel" name="DATA[UF_CRM_1572883145518]" class="input input-tel" required placeholder="+7 (999) 99 99 99">
						</div>
						<div class="btn-block-sm">
							<button class="btn">
								Вызвать мастера (бесплатно)
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<ul class="list-none right-bar">
	<li>
		<a href="https://kislorod-ok.ru/kalkuljator-stoimosti/"><span class="right-text">
				Расчёт стоимости
			</span>
			
			<span class="right-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/calc.svg" alt="">
			</span></a>
	</li>
	<li>
		<a href="/#masterCall" class="master-open"><span class="right-text">
				вызвать мастера
			</span>
			
			<span class="right-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/master.svg" alt="">
			</span></a>
	</li>
	<li>
		<a href="https://kislorod-ok.ru/akcii-i-skidki/"><span class="right-text">
				Акции
			</span>
			
			<span class="right-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/gift.svg" alt="">
			</span></a>
	</li>
</ul>

	<!-- 45 слов руководителя -->
	
<!-- 	<div class="director-wrap">
		<div class="director section active">
	<div class="container director__continer">
		<div class="title-wrap">
			<h2 class="section-title">
				Более 10 лет являемся экспертами в области оконных систем 			</h2>
			
			<p class="section-desc">
				С 2009 года мы предлагаем клиентам принципиально новое качество обслуживания в сфере ремонта металлопластиковых и ПВХ, алюминиевых, деревянных окон и дверей, а также светопрозрачных конструкций в Москве и области!			</p>
		</div>

		<div class="director__wrap">
			<div class="director__block">
				<h4 class="director__title">
					21 слово руководителя				</h4>

				<p class="text-sm">
					Наша фирма дорожит своей репутацией, поэтому у нас работает только 
квалифицированный персонал, прошедший подготовку на специальных
курсах производителей оконных профильных систем и фурнитуры!				</p>
			</div>

			<div class="director__info">
				<div class="director__img">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/dir.png" alt="">

					<div class="director__data">
						<div class="director__data-title">Артём Гринцевич</div>
						<div class="director__data-descr">Основатель компании</div>
					</div>
				</div>

				<!--<div class="director__video">
					<div class="director__play" data-play="1221312"></div>

					<div class="director__video-title">
						ВИДЕО-ОБРАЩЕНИЕ ОСНОВАТЕЛЯ КОМПАНИИ					</div>
				</div>-->
			</div>
		</div>
	</div>
</div> 
		<div class="director section dir-2">
	<div class="container director__continer">
		<div class="title-wrap">
			<h2 class="section-title">
				Что важно знать, прежде чем
заказывать ремонт окон			</h2>
			<p class="section-desc">
			</p>
		</div>

		<div class="director__wrap">
			<div class="repair__block">
				<div class="repair-num">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/director/three.png" alt="">
				</div>
				<div class="repair-text">
					<p class="text-sm">
						<span>важных аспекта от</span> руководтеля,
						которые помогут определиться 
						Вам с компанией
					</p>
					<a href="https://kislorod-ok.ru/o-kompanii/" class="btn btn-border btn-sm">Подробнее о компании</a>
				</div>
			</div>

			<div class="director__info">
				<div class="plus-block">
										<div class="plus-item">
						<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/director/plus.svg" alt="">

						<div class="tooltip">
							<div class="text-small">
								И остерегайтесь если у компании							</div>
							<div class="trigger-title">
								<strong style="color:red">СЛИШКОМ НИЗКИЕ ЦЕНЫ</strong>							</div>

							<ul class="ul-list">
								
								<li>Дают липовые гарантии</li>

								 
								<li>Некачественные комплектующие</li>

								 
								<li>Работают не профессионалы </li>

								 								
							</ul>
						</div>
					</div>

					 					<div class="plus-item">
						<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/director/plus.svg" alt="">

						<div class="tooltip">
							<div class="text-small">
								Далее обращайте внимание на							</div>
							<div class="trigger-title">
								КАЧЕСТВО РАБОТЫ							</div>

							<ul class="ul-list">
								
								<li>Отзывы </li>

								 
								<li>Сертификаты</li>

								 
								<li>Выполненные объекты</li>

								 								
							</ul>
						</div>
					</div>

					 					<div class="plus-item">
						<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/director/plus.svg" alt="">

						<div class="tooltip">
							<div class="text-small">
								Самое главное - это 							</div>
							<div class="trigger-title">
								НАДЕЖНОСТЬ							</div>

							<ul class="ul-list">
								
								<li>Работа по договору -Официальная гарантия</li>

								 
								<li>Официальная гарантия</li>

								 
								<li>Реальный опыт компании (Сколько лет на рынке)</li>

								 								
							</ul>
						</div>
					</div>

					 					
				</div>
				<div class="director__img">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/dir.png" alt="">

					<div class="director__data">
						<div class="director__data-title">Артём Гринцевич</div>
						<div class="director__data-descr">Основатель компании</div>
					</div>
				</div>

				<!--<div class="director__video">
					<div class="director__play" data-play="1221312"></div>

					<div class="director__video-title">
						ВИДЕО-ОБРАЩЕНИЕ ОСНОВАТЕЛЯ КОМПАНИИ					</div>
				</div>-->
			</div>
		</div>
	</div>
</div><!-- 	</div> -->

	<!-- следующие услуги -->

	<div class="amenities section">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				Мы уже более 10 лет оказываем следующие услуги			</h2>
		</div>

		<div class="amenities__content">

			<div class="amenities__master-wrap">
				<div class="amenities__master">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/amenities/man.png" alt="" class="img-master">
				
					<div class="amenities__master-text">
						<div class="amenities__master-subtitle">Старший выездной мастер</div>
						<div class="amenities__master-title">Владислав Добролюбов</div>
					</div>
				</div>

				<a href="#" class="btn master-open">
					Вызвать мастера (бесплатно)
				</a>
			</div>


			<div class="amenities__block">
				<!-- 1 -->
								<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/1uteplenie-plastikovyh-okon.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Утепление пластиковых окон</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 150 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/uteplenie-plastikovyh-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/7shumoizoljacija-okon.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Шумоизоляция любых окон</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 150 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/shumaizoljacii-ljubyh-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/3vstavka-stekol-zamena-razbityh-steklopaketov-zamena-vitrin-1.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Вставка стекол, замена разбитых стеклопакетов, замена витрин
</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1500 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/vstavka-stekol-zamena-razbityh-steklopaketov-zamena-vitrin/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/4izgotovlenie-moskitnyh-setok.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление москитных сеток</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-moskitnyh-setok-2/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/5ustanovka-dopolnitelnyh-okonnyh-aksessuarov.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Установка дополнительных оконных аксессуаров</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old">от 700 руб</div>
							<div class="amenities__item-price-new">от 300 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/ustanovka-dopolnitelnyh-okonnyh-aksessuarov/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/6remont-i-uteplenie-aljuminievyh-okon-shuko-sch-co-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Ремонт и утепление алюминиевых окон шуко (schüco)</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 300 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/remont-i-uteplenie-aljuminievyh-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/2.remont-plastikovyh-i-derevjannyh-okon-so-steklopaketami.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">РЕМОНТ ПЛАСТИКОВЫХ И ДЕРЕВЯННЫХ ОКОН СО СТЕКЛОПАКЕТАМИ</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 150 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/remont-plastikovyh-i-derevjannyh-okon-so-steklopaketami/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/8okonnye-provetrivateli-filtry-i-ajerogivery-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Оконные проветриватели, фильтры и аэрогиверы </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/okonnye-provetrivateli-filtry-i-ajerogivery/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/9regulirovka-plastikovyh-i-derevjannyh-okon.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Регулировка пластиковых и деревянных окон</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 400 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/regulirovka-plastikovyh-i-derevjannyh-okon-so-steklopaketami/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/10distancionnoe-otkryvanie-okon.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Дистанционное открывание окон</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/distancionnoe-otkryvanie-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/11ustanovka-mobilnyh-napolnyh-i-okonnyh-kondicionerov-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Установка мобильных напольных и оконных кондиционеров  </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/ustanovka-mobilnyh-napolnyh-i-okonnyh-kondicionerov/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/12rolstavni.png) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">РОЛЬСТАВНИ</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/rolstavni-izgotovlenie-i-ustanovka/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/13izgotovlenie-termosteklopaketov-steklopakety-s-jelektroobogrevom.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление термостеклопакетов (стеклопакеты с электрообогревом)</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 4000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-derevjannyh-podokonnikov-i-radiatornyh-reshetok-2/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/14proizvodstvo-i-ustanovka-podokonnikov-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Производство и установка подоконников </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/proizvodstvo-i-ustanovka-podokonnikov/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/15.remont-i-zamena-okonnoj-furnitury.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Ремонт и замена оконной фурнитуры</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/remont-i-zamena-okonnoj-furnitury/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/16izgotovlenie-semnyh-razdvizhnyh-tentov-ot-dozhdja-dlja-terras-verand-besedok-letnih-kafe.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление съемных раздвижных тентов от дождя (для террас, веранд, беседок, летних кафе)
</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-semnyh-razdvizhnyh-tentov-ot-dozhdja-dlja-terras-verand-besedok-letnih-kafe/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/10/foto1-1.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Тонирование и бронирование стекол пленкой
</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 2000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/tonirovanie-i-bronirovanie-stekol-plenkoj/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/18remont-aljuminievyh-okon-hueck-hartmann.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Ремонт алюминиевых окон HUECK HARTMANN</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old">от 700 руб</div>
							<div class="amenities__item-price-new">от 400 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/remont-aljuminievyh-okon-hueck-hartmann/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/19izgotovlenie-fortosek-dlja-torgovli.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление форточек для торговли</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-fortochek-dlja-torgovli/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/20ustanovka-plastikovyh-i-derevjannyh-otkosov.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Установка пластиковых и деревянных откосов</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/ustanovka-uteplennyh-plastikovyh-i-derevjannyh-otkosov/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/21ustanovka-otlivov-dlja-okon-.png) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Производство и установка отливов для окон </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1150 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/ustanovka-otlivov-dlja-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/23osteklenie-i-otdelaka-balkonov-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Остекление и отделака балконов </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/osteklenie-lodzhij-i-balkonov-v-moskve-i-mo/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/24izgotovlenie-zhaljuzi-i-kassetnyh-rulonnyh-shtor.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление жалюзи и кассетных рулонных штор</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/zhaljuzi-i-rulonnye-shtory/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/25.alpinistskie-raboty.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Альпинистские работы</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/alpinistskie-raboty/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/26izgotovlenie-plastikovyh-i-aljuminievyh-ofisnyh-peregorodok-1.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление пластиковых и алюминиевых офисных перегородок</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-i-ustanovka-stekljannyh-peregorodok-v-ofise/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/27remont-zenitnyh-fonarej-zamena-steklopaketov-1.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Ремонт зенитных фонарей, замена стеклопакетов</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/remont-zenitnyh-fonarej-zamena-steklopaketov/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/28izgotovlenie-i-ustanovka-plastikovyh-okon.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление и установка пластиковых окон</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 7000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-i-ustanovka-plastikovyh-okon/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/29.izgotovlenie-derevjannyh-podokonnikov-i-radiatornyh-reshetok-.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Изготовление деревянных подоконников и радиаторных решеток </span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 1000 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/izgotovlenie-radiatornyh-reshetok/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/30-germetizacija-montazhnyh-i-mezhpanelnyh-shvov.-germetizacija-shvov-fasadnogo-osteklenija.-1.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Герметизация швов фасадного остекления</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new">от 800 руб</div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/germetizacija-montazhnyh-i-mezhpanelnyh-shvov-germetizacija-shvov-fasadnogo-osteklenija/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 				<div class="amenities__item" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/31drugie-uslugi.jpg) no-repeat center; background-size: cover;">
					
					<div class="amenities__item-hover">
						<h3 class="amenities__item-title">
							<span class="aminites-title-block">Другие услуги</span>
							<span class="amenities__item-subtitle">
															</span>
						</h3>
						

						<div class="amenities__item-price">
							<div class="amenities__item-price-old"></div>
							<div class="amenities__item-price-new"></div>
						</div>

						<div class="amenities__item-btn">
							<a href="#" class="btn btn-sm master-open open-master-js">
								<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#man-btn"/></svg>
								Вызвать мастера
							</a>

							<a href="https://kislorod-ok.ru/uslugi/vyberite-interesujushhuju-uslugu/" class="btn btn-sm btn-border">Подробнее</a>
						</div>
					</div>
				</div>

				 								
				
				<span class="fix"></span>

				<div class="btn-show-wrap">
					<a href="#" class="btn btn-sm btn-show">Показать все услуги</a>
				</div>

			</div>

		</div>
	</div>
</div>

	<!-- Прайс -->

	<div class="section price">
	<div class="container price__content">
		<div class="price__info">
			<div class="title-wrap">
				<h2 class="section-title">
					В ПРАЙСЕ ВЫ НАЙДЕТЕ ТОЧНУЮ СТОИМОСТЬ <br />
НА ВСЕ НАШИ УСЛУГИ				</h2>
			</div>
			
			<div class="price__btn-wrap">
				<a href="https://kislorod-ok.ru/wp-content/uploads/2019/12/kislorod-prai-s.pdf.pdf" target="_blank" class="btn btn-mod">
					СКАЧАТЬ ПРАЙС-ЛИСТ
					<span class="btn-small">Pdf 2.2 Mb</span>
				</a>
				<div class="date-text">
					Обновлен: <span class="date-s">24.02.2019</span>
				</div>
			</div>
		</div>

		<div class="price__img" id="price-prx">
			<div class="price__img-wrapper" data-depth='1'>
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/price/mook.png" alt="">
			</div>
		</div>
	</div>
</div>
	<!-- Доверие -->
	<div class="trust section">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				НАМ ДОВЕРЯЮТ ЗА КАЧЕСТВО И ЧЕСТНУЮ СТОИМОСТЬ А ТАКЖЕ			</h2>
			<p class="section-desc">
				мы делаем так, чтобы больше не ломалось			</p>
		</div>

		<div class="trust__content">
			<div class="trust__advas">
				<div class="small-title trust__advas-title">
					Наш подход, благодаря которому к нам обращаются
				</div>

				<div class="trust__advas-block">
										<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-1.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Сочетание цены и качества. Льготные условия для пенсионеров и многодетных cемей						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-2.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Опыт работы говорит сам за себя - >10 лет						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-3.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Предоставляем расширенную гарантию						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-4.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Работаем честно,<br />
по договору						</p>
						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/dogovor.png" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-5.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Круглосуточно принимаем заявки						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-6.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Оперативный выезд мастера - в течение 30 мин						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-7.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							Выполняем нестандартные и сложные заказы						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 					<!-- 4 -->
					<div class="trust__advas-item">
						<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/trust-8.svg" alt="" class="trust__advas-img">
						<p class="small-text">
							101% качественные материалы и комплектующие						</p>
						<a href="" class="trust-link fancy-class">Смотреть договор</a>
					</div>
					 									</div>
			</div>

			<div class="work__sert trust-sert">
				<div class="small-title trust__srt-title">
					Работаем только с качественными
					комплектующими
				</div>
				<div class="before-elem slider-wrap">
					<div class="work-slider trust-sliders">
												<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/117.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/117.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/227.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/227.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/447.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/447.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/557.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/557.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/667.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/667.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/778.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/778.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/887.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/887.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/997.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/997.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/sert.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/sert.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/stis_op.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/stis_op.jpg" alt="">
						</a>
						 						<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/win.jpg" data-fancybox="gallery-trust" class="work-slider__item fancy-class">
							<img data-lazy="https://kislorod-ok.ru/wp-content/uploads/2019/09/win.jpg" alt="">
						</a>
						 												
					</div>
				</div>


				<div class="slider-text">
										<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ 					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ СООТВЕТСТВИЯ					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						СЕРТИФИКАТ ТОРГОВОГО ПАРТНЕРА					</h4>
					 					<h4 class="slider-text-item trust-sliders-text">
						ДИПЛОМ ФИНАЛИСТА					</h4>
					 					
				</div>


			</div>
		</div>

		<div class="trust__pay">
			<div class="small-title trust__advas-title">
				Работаем с удобным для Вас способом оплаты
			</div>

			<div class="trust__pay-block">
								<div class="trust__pay-item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/pay-1.svg" alt="" class="trust__pay-img">
					<span class="small-text">Наличный расчет</span>
				</div>

				 				<div class="trust__pay-item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/pay-2.svg" alt="" class="trust__pay-img">
					<span class="small-text">Возможна рассрочка</span>
				</div>

				 				<div class="trust__pay-item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/pay-3.svg" alt="" class="trust__pay-img">
					<span class="small-text">Оплата картой</span>
				</div>

				 				<div class="trust__pay-item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/pay-4.svg" alt="" class="trust__pay-img">
					<span class="small-text">Безналичный расчет</span>
				</div>

				 				<div class="trust__pay-item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/pay-5.svg" alt="" class="trust__pay-img">
					<span class="small-text">Возможность кредита</span>
				</div>

				 				
			</div>
		</div>
	</div>
</div>
	<!-- Посмотрите на нас в процессе работы -->
	<div class="process section">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				ПОСМОТРИТЕ НА НАС В ПРОЦЕССЕ РАБОТЫ			</h2>
		</div>

		<div class="process__content">
			<div class="process__slider-block">
				<div class="link-wrap">
					<a href="https://kislorod-ok.ru/nashi-raboty/" class="link-trigger">Смотерь наши работы</a>
				</div>

				<div class="process__slider">
					<div class="frame" id="cycleitems">

						<div class="slider-ul">
							<!-- 1 -->
														<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/q5.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/34754854.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/q1.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/q111.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/q2.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/23634632.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/09/q4.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/09/32663334.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/10/1foto-v-processe-raboty-.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/10/foto-v-processe-raboty-.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/10/2.foto-v-processe-raboty-.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/10/2foto-v-processe-raboty-.jpg) no-repeat center; background-size: cover;">
							</a>
							 							<a href="https://kislorod-ok.ru/wp-content/uploads/2019/10/3.foto-v-processe-raboty-.jpg" class="slider-ul-item fancy-class" data-fancybox="frame-gallery" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/10/3foto-v-processe-raboty-.jpg) no-repeat center; background-size: cover;">
							</a>
							 														<!-- 2 -->				
						</div>
					</div>
					<button class="backward arrows slidePrev"></button>
					<button class="forward arrows slideNext "></button>
				</div>
				<div class="scrollbar">
					<div class="handle">
						<div class="mousearea"></div>
					</div>
				</div>
			</div>

			<div class="process__video-block">
				<div class="link-wrap">
					<a href="https://kislorod-ok.ru/o-kompanii/" class="link-trigger">Узнать больше о компании</a>
					<div class="process__video-wrapper">
						
						<!-- <div class="process__video-item play-mini" data-play="EErQjeZUhfI"></div> -->
					</div>
				</div>

				<div class="process__video-content">

					<div class="video-bg" style="background: url(https://kislorod-ok.ru/wp-content/uploads/2019/11/screenshot-at-nov-13-14-40-55.png) no-repeat center; background-size: cover;"></div>
					<div class="play process-play-main" data-play="Pw8hyMkMOFM"></div>

				</div>

				<div class="process__video-text-wrap">

					 	<div class="process__video-text">
					 		<span>
					 			Видеоотзыв о нашей работе					 		</span>
					 		<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/process/shape.png" alt="">
					 	</div>


				</div>
			</div>
	</div>
	</div>
</div>
	<!-- Клиенты -->

	

<div class="clients section ">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				РАБОТАЕМ И С КОРПОРАТИВНЫМИ КЛИЕНТАМИ			</h2>
		</div>

		<div class="clients__content">
			<div class="clients__docs">
				<div class="small-title clients-title">
					Условия работы <br>
					для организаций
				</div>

				<div class="clients__img">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/clients/book.png" alt="">
				</div>
				<a href="#" class="btn btn-mod comers-open">
					Загрузить документ
					<span class="btn-small">
						Pdf 1.4 Mb
					</span>
				</a>
			</div>

			<div class="clients__block">
								<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/gas-logo.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/lkogo-burger.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-333.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-353.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-4244.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-14444.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-alfa.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-ntv.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo-t.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo11.png" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/logo122.jpg" alt="">
				</a>
				 				<a href="" class="clients__item">
					<img src="https://kislorod-ok.ru/wp-content/uploads/2019/09/loho-33.jpg" alt="">
				</a>
				 				
				<a href="https://kislorod-ok.ru/korporativnym-klientam/" class="clients__item clients-corp">
					<span>
						Корпоративным
						клиентам
					</span>
				</a>

			</div>
		</div>
	</div>
</div>
	<!-- Акции -->

	<div class="gift section">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				ПРИМИТЕ УЧАСТИЕ В НАШИХ АКЦИЯХ <br />
И ПОЛУЧИТЕ ПОДАРКИ			</h2>
		</div>

		<div class="gift__content">
			<div class="gift__item"style="background: url(https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/gift/item-1-bg.jpg) no-repeat center; background-size: cover;">
				<div class="gift__item-info">
					<div class="gift__item-title">Набор для ухода за пластиковыми окнами в подарок!</div>
					<div class="gift__item-subtitle">Получите набор для ухода за пластиковыми окнами абсолютно бесплатно</div>
					<div class="gift__item-btn-wrap">
						<a href="#" class="btn btn-sm gifts-open">
							<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#hand-svg"/></svg>
							<span>ПОЛУЧИТЬ БЕСПЛАТНО</span>
						</a>
					</div>
				</div>

				<div class="gift__item-img gift__item-img-1" id="prx-gift-1">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/gift/nabor.png" data-depth='1' alt="">
				</div>
			</div>

			<div class="gift__item"style="background: url(https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/gift/item-2-bg.jpg) no-repeat center; background-size: cover;">
				<div class="gift__item-info">
					<div class="gift__item-title">Сумка пляжная с личным логотипом компании в подарок!</div>
					<div class="gift__item-subtitle">Получите  сумку пляжную с внешним карманом для бутылки, с личным логотипом компании , абсолютно бесплатно</div>
					<div class="gift__item-btn-wrap">
						<a href="#" class="btn btn-sm gifts-open">
							<svg class="img-btn" viewBox="0 0 26 26"><use xlink:href="#hand-svg"/></svg>
							<span>ПОЛУЧИТЬ БЕСПЛАТНО</span>
						</a>
					</div>
				</div>

				<div class="gift__item-img" id="prx-gift-2">
					<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/home/gift/paket.png" data-depth='1.3' alt="">
				</div>
			</div>
		</div>

		<div class="gift__btn">
			<a href="https://kislorod-ok.ru/akcii-i-skidki/" class="btn btn-border btn-sm">Смотреть все акции</a>
		</div>
	</div>
</div>
	<!-- порядок работ -->

	<div class="contacts" id="contacts">
	<div class="container">
		<div class="title-wrap title-margin">
			<h2 class="section-title">
				СВЯЖИТЕСЬ С НАМИ И МЫ МАКСИМАЛЬНО ОПЕРАТИВНО РЕШИМ ВАШУ ЗАДАЧУ			</h2>
		</div>

		<div class="contacts__content">

			<div class="contacts__info">
				<div class="contacts__info-item">
					<div class="small-title item-block-small">
						Контакты
					</div>

					<div class="contacts__info-item-block">
						<div class="text-small item-block-small item-block-small-marg">Есть вопрос? Звоните:</div>
						<div class="elem__block">
							
							<div class="img__block">
								<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/phone.png" alt="">
							</div>

							<div class="elem__wrap">
																	<a href="tel:+79253512022" class="elem__item">+79253512022</a>

																	<a href="tel:+79253512022" class="elem__item">+79253512022</a>

																							</div>
						</div>
					</div>

					<div class="contacts__info-item-block">
						<div class="text-small item-block-small">Физический адрес:</div>
						<div class="elem__block">
							
							<div class="img__block">
								<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/contacts/pin.png" alt="">
							</div>
						
							<div class="elem__wrap">
								<p class="contact-text">
									140011, Московская обл., г. Люберцы, ул.Авиаторов д. 4, корп. 3, 10 ком.6								</p>
							</div>
						</div>
					</div>

					<div class="contacts__info-item-block">
						<div class="text-small item-block-small">Почта:</div>
						<div class="elem__block">
							
							<div class="img__block">
								<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/contacts/mail.png" alt="">
							</div>
						
							<div class="elem__wrap">
								<a href="mailto:{{EMAIL}}" class="link-classic">{{EMAIL}}</a>
							</div>
						</div>
					</div>

					<div class="contacts__info-item-block">
						<div class="text-small item-block-small">Прием заявок диспетчером:</div>
						<div class="elem__block">
							
							<div class="img__block">
								<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/contacts/time.png" alt="">
							</div>
						
							<div class="elem__wrap">
								<p class="contact-text">
									с 7:00 - 23:00 без выходных<br />
Работа офиса с 8:00 - 19:00 по будням<br />
Работа склада (самовывоз) с 10.00 - 18.00 пн-сб, возможно другое время по согласованию с менеджером								</p>
							</div>
						</div>
					</div>


				</div>
				<div class="contacts__info-item">
					<div class="small-title ">
						Реквизиты
					</div>
					<div class="contacts__info-item-block">
						<p>
							{{FOOTER_TEXT}}
						</p>
					</div>

					<div class="contacts__info-item-block">
						<div class="text-small">Следите за нами в социальных сетях:</div>

						<div class="social-bloks">
							<a href=""  target="_blank" class="social-item">
								<svg class="vk"  viewBox="0 0 20 12"><use xlink:href="#vk"/></svg>
							</a>
							<a href="" target="_blank" class="social-item inst-wrap">
								<svg class="inst" viewBox="0 0 19 19"><use xlink:href="#inst"/></svg>
							</a>
							<a href="https://www.youtube.com/channel/UC-9ZaUStJF7xN87tZPBsoKA?view_as=subscriber" target="_blank" class="social-item youtube-wrap">
								<svg class="youtube" viewBox="0 0 19 23" ><use xlink:href="#youtube"/></svg>
							</a>
						</div>

					</div>

					<div class="social contacts__social contacts__info-item-block">
						<div class="text-small">
							Напишите напрямую:
						</div>

						<div class="social__wrap">
							<div class="social__item">
								<a href="https://wa.me/79857275045?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21+%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82+%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82+%D0%BE%D0%BA%D0%BE%D0%BD..."  class="link-social wa"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/wa.svg" alt=""><span>WhatsApp</span></a>
							</div>
							<div class="social__item">
								<a href="" class="link-social skype"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/skype.svg" alt=""><span>Skype</span></a>
							</div>

							<div class="social__item ">
								<a href="mailto:{{EMAIL}}" class="link-social e-mail"><img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/main/Mail.svg" alt=""> <span>E-mail</span></a>
							</div>
						</div>
				    </div>

				</div>

				<div class="contacts__info-header">
					<div class="logo">
						<a href="#" class="logo__img">
							<img src="https://kislorod-ok.ru/wp-content/uploads/2019/05/logo-footer.png" alt="">
						</a>

						<p class="logo__text">
							mosremokna.ru - сервис по ремонту и обслуживанию оконных систем в Москве и МО. Работаем с 2009 года 						</p>
					</div>
				</div>
			</div>



			<div class="map-wrap">
				<div class="small-title">
					Мы на карте
				</div>
				<div class="map-link" style="display: none;" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A457236c83c02c0b7fd81580cc5f6f87ca124a549070169a2383bad0a8feabbab&source&source=constructor"></div>
				<div class="map" id="map">
					
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container footer__container">
			<p class="text-small footer-item">ИНН 7725805485. Москва 2019</p>

			<a href="https://kislorod-ok.ru/polotika.pdf" class="footer-link footer-item" target="_blank">Политика конфеденциальности</a>

			<p class="text-small right footer-item">Сделано с любовью в <a href="https://paradigma.website" target="_blank" class="footer-link">Paradigma.website</a></p>
		</div>
	</div>
	
	<div class="to-top">
		<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/to-top.svg" alt="">
		Наверх
	</div>
</div>




	<!-- окна -->
	<div class="overlay" id="modal-gift" style="display: none;">
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">
			<div class="title-form title-gift-modal">
				Подарок действует при <br>
				заказе с сайта. <br>
				Заполните форму для <br>
				консультации
			</div>

			<form action="obrob.php" method="POST" onsubmit="yaCounter56025331.reachGoal('zayavka')">
					<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - АКЦИИ ">
				<div class="form-item">
					<!--  -->
					<div class="form-item-block form-item-block-title">
						<div class="form-item-block-num"></div>
						<div class="form-item-block-inp">
							<div class="form-item-block-text">
								Выберите акцию:
							</div>
						</div>
					</div>
					<div class="form-item-block">
						<div class="form-item-block-num n1">1</div>
						<div class="form-item-block-inp">
							<!-- <input type="text" name="typeR" class="input input-sm select-input" required placeholder="Поменять прокладку"> -->

							<select name="DATA[UF_CRM_1572883488181]" class="input input-sm select-input">
																<option value="Набор по уходу за окнами">Набор по уходу за окнами</option>
																<option value="Сумка пляжная с личным логотипом компании">Сумка пляжная с личным логотипом компании</option>
																<option value="Брелок-фонарик с логотипом mosremokna.ru ">Брелок-фонарик с логотипом mosremokna.ru </option>
																<option value=" Ограничитель открывания окна (гребенка) "> Ограничитель открывания окна (гребенка) </option>
																							</select>
						</div>
					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
						<div class="form-item-block-num"></div>
						<div class="form-item-block-inp">
							<div class="form-item-block-text">
								Выберите вид ремонта:
							</div>
						</div>
					</div>
					<div class="form-item-block">
						<div class="form-item-block-num n2">2</div>
						<div class="form-item-block-inp">
							<!-- <input type="text" name='raion' class="input input-sm select-input" required placeholder="Центр"> -->
							<select name="DATA[UF_CRM_1572883588931]" class="input input-sm select-input">
																<option value="Набор по уходу за окнами">Набор по уходу за окнами</option>
																<option value="Сумка пляжная с личным логотипом компании">Сумка пляжная с личным логотипом компании</option>
																<option value="Брелок-фонарик с логотипом mosremokna.ru ">Брелок-фонарик с логотипом mosremokna.ru </option>
																<option value=" Ограничитель открывания окна (гребенка) "> Ограничитель открывания окна (гребенка) </option>
																							</select>
						</div>
					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<div class="form-item-block-num n3">3</div>
						<div class="form-item-block-inp">
							<input type="text" name='DATA[NAME]' class="input input-sm" required placeholder="Ваше имя ">
						</div>
					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<div class="form-item-block-num n4">4</div>
						<div class="form-item-block-inp">
							<input type="tel" name='DATA[UF_CRM_1572883145518]' class="input input-phone input-sm" required placeholder="Ваш телефон ">
						</div>
					</div>
					<!--  -->

					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<div class="form-item-block-num"></div>
						<div class="form-item-block-inp">
							<button class="btn btn-modal-sm">ХОЧУ ПОДАРОК при РЕМОНТЕ</button>
							<div class="form-small">
								Среднее время ответа 2 минуты
							</div>
						</div>
					</div>
					<!--  -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-- thanks -->
<div class="overlay" id="modal-thanks" style="display: none;">
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">

			<div class="thanks-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/modal/thanks.png" alt="">
			</div>
			<div class="title-form">
				Спасибо за заявку!
			</div>
			<p>
				Мы прямо сейчас обрабатываем Ваш
				запрос и ответим Вам в ближайшие
				1-10 минут
			</p>
		</div>
	</div>
</div>

<!-- предложение -->

<div class="overlay" id="modal-comer" style="display: none;">
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">
			<div class="title-form">
				Предложение для <br>
				Юридических лиц 
			</div>

			<div class="img-comer">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/modal/comer.png" alt="">
			</div>

			<div class="title-form">
				Заполните данные
			</div>

			<form action="obrob.php" method="POST" onsubmit="yaCounter56025331.reachGoal('zayavka')">
				<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - Предложение для ЮРЛИЦ ">
				<div class="form-item">
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">

						<input type="text" name='DATA[UF_CRM_1572883775687]' class="input input-sm" required placeholder="Название организации">
					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">

						<input type="tel" name='DATA[UF_CRM_1572883145518]' class="input input-phone input-sm" required placeholder="Ваш телефон ">

					</div>
					<!--  -->

					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<button class="btn btn-mod">
							Загрузить предложение
							<span class="btn-small">Pdf 2.1 Mb</span>
						</button>
					</div>
					<div class="checkbox-wrap test-question__checkbox">
						<input type="checkbox" id="no2" class="radio-btn checkbox-inp" value="Обещаем не спамить" name="noSpam" checked>
						<label for="no2" class="radio-label">
							<span class="checkbox-psevdo">
								<span class="checkbox-psevdo-active">
									<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/check.png" alt="">
								</span>
							</span>
							Обещаем не спамить
						</label>
					</div>
					<!--  -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-- прайс -->

<div class="overlay" id="modal-price" style="display: none;">
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">
			<div class="title-form">
				Чтобы загрузить прайс
				зарегистрируйтесь в 1 клик
			</div>

			<div class="modal-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/modal/price.png" alt="">
			</div>

			<div class="date-text modal-date">
				Обновлен: <span class="date-s">17.05.2019</span>
			</div>

			<form action="obrob.php" method="POST" onsubmit="yaCounter56025331.reachGoal('zayavka')">
			    <input type="hidden" name="formname" value="price">
				<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - Прайс ">
				<div class="form-item">
					<!--  -->
					<div class="form-item-block">

						<input type="tel" name='DATA[UF_CRM_1572883145518]' class="input input-phone input-sm" required placeholder="Ваш телефон ">

					</div>
					<!--  -->

					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<button class="btn btn-mod">
							ЗАГРУЗИТЬ ПРАЙС
							<span class="btn-small">Pdf 2.1 Mb</span>
						</button>
					</div>
					<div class="checkbox-wrap test-question__checkbox">
						<input type="checkbox" id="no3" class="radio-btn checkbox-inp" value="Обещаем не спамить" name="noSpam" checked>
						<label for="no3" class="radio-label">
							<span class="checkbox-psevdo">
								<span class="checkbox-psevdo-active">
									<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/check.png" alt="">
								</span>
							</span>
							Обещаем не спамить
						</label>
					</div>
					<!--  -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-- всплывашка -->

<div class="overlay" id="modal-up" style="display: none;">
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">
			<div class="title-form">
				Скачайте БЕСПЛАТНО <br>
				"Рекомендация по уходу за <br>
				окнами"
			</div>

			<div class="modal-img">
				<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/modal/up-book.png" alt="">
			</div>

			<div class="title-form">
				Куда отправить
			</div>

			<form action="obrob.php" method="POST" onsubmit="yaCounter56025331.reachGoal('zayavka')">
			<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
			<input type="hidden" name="formname" value="catalog">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - Рекомендации (поп-ап окно) ">
				<div class="form-item">

					<div class="form-item-block">

						<select name="DATA[UF_CRM_1572884339362]" class="input input-sm select-input">
														<option value="WhatsApp">WhatsApp</option>
														<option value="E-mail">E-mail</option>
														<option value="Тел">Тел</option>
																				</select>

					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">

						<input type="text" name='DATA[NAME]' class="input input-sm" required placeholder="Ваше имя">
					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">

						<input type="tel" name='DATA[UF_CRM_1572883145518]' class="input input-phone input-sm" required placeholder="Ваш телефон ">

					</div>
					<!--  -->

					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<button class="btn btn-mod">
							ПОЛУЧИТЬ бесплатно
							<span class="btn-small">Pdf 2.1 Mb</span>
						</button>
					</div>
					<div class="checkbox-wrap test-question__checkbox">
						<input type="checkbox" id="no4" class="radio-btn checkbox-inp" value="Обещаем не спамить" name="noSpam" checked>
						<label for="no4" class="radio-label">
							<span class="checkbox-psevdo">
								<span class="checkbox-psevdo-active">
									<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/check.png" alt="">
								</span>
							</span>
							Обещаем не спамить
						</label>
					</div>
					<!--  -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Вызвать мастера -->

<div class="overlay" id="open-master-js" style="display: none;" >
	<div class="modal-wrap">
		<div class="close"></div>

		<div class="big-form">
			<div class="title-form">
				Вызов мастера
			</div>


			<form action="obrob.php" method="POST" onsubmit="yaCounter56025331.reachGoal('zayavka')">
			    	<input type="hidden" name="DATA[SOURCE_ID]" value="WEB">
					<input type="hidden" name="DATA[TITLE]" value="Заявка с сайта: kislorod-ok.ru - ВЫЗОВ МАСТЕРА (поп-ап на внутр.стр.)">
				<div class="form-item">
													<input type="hidden" name="formname" value="modals-master-easy">

							
					<div class="form-item-block">
						
					<input type="text" name='DATA[NAME]' class="input input-sm" required placeholder="Ваше имя">

					</div>
					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">

						<input type="tel" name='DATA[UF_CRM_1572883145518]' class="input input-phone input-sm" required placeholder="Ваш телефон ">

					</div>
					<!--  -->

					<!--  -->
					<div class="form-item-block form-item-block-title">
					</div>
					<div class="form-item-block">
						<button class="btn btn-mod">
							Вызвать мастера (бесплатно)
						</button>
					</div>
					<div class="checkbox-wrap test-question__checkbox">
						<input type="checkbox" id="no4" class="radio-btn checkbox-inp" value="Обещаем не спамить" name="noSpam" checked>
						<label for="no4" class="radio-label">
							<span class="checkbox-psevdo">
								<span class="checkbox-psevdo-active">
									<img src="https://kislorod-ok.ru/wp-content/themes/src/assets/img/check.png" alt="">
								</span>
							</span>
							Обещаем не спамить
						</label>
					</div>
					<!--  -->
				</div>
			</form>
		</div>
	</div>
</div>

<!-- video -->

<div class="overlay" id="video-modal" style="display: none;">
	<div class="modal-video">
		<div class="close close-video"></div>
		<div class="modal-video-body"></div>
	</div>
</div>	<!-- svg -->
	<div class="svg-img" style="display: none;">
	<!-- vk -->
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><g id='vk'><g><path d="M9.785 11.833h1.196s.36-.04.545-.247c.17-.19.164-.547.164-.547s-.023-1.67.721-1.917c.735-.242 1.677 1.616 2.676 2.33.755.539 1.33.42 1.33.42l2.67-.039s1.398-.089.735-1.232c-.054-.095-.386-.846-1.986-2.396-1.675-1.619-1.45-1.356.567-4.158 1.229-1.705 1.72-2.746 1.566-3.193-.146-.425-1.05-.312-1.05-.312l-3.007.019s-.223-.032-.388.071c-.162.1-.266.337-.266.337s-.476 1.318-1.11 2.442c-1.34 2.369-1.875 2.494-2.094 2.347-.51-.342-.382-1.377-.382-2.112 0-2.297.334-3.253-.651-3.5C10.694.063 10.453.01 9.617 0 8.544-.013 7.636.002 7.122.265 6.779.44 6.515.83 6.676.85c.2.029.65.128.888.465.308.439.297 1.417.297 1.417s.178 2.704-.413 3.04c-.406.23-.962-.24-2.156-2.39-.611-1.1-1.073-2.316-1.073-2.316S4.13.839 3.97.718C3.778.57 3.509.522 3.509.522L.651.542S.222.553.065.75c-.14.172-.012.53-.012.53s2.238 5.452 4.771 8.2c2.324 2.52 4.961 2.354 4.961 2.354z"/></g></g></svg>

	<!-- inst -->
	<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><g id="inst"><g><path d="M19 5.24v8.515a5.249 5.249 0 0 1-5.244 5.242H5.243A5.249 5.249 0 0 1 0 13.755V5.24A5.249 5.249 0 0 1 5.243-.003h8.513A5.249 5.249 0 0 1 19 5.24zm-1.686 8.515V5.24a3.562 3.562 0 0 0-3.558-3.557H5.243A3.562 3.562 0 0 0 1.685 5.24v8.515a3.562 3.562 0 0 0 3.558 3.557h8.513a3.562 3.562 0 0 0 3.558-3.557zm-2.919-4.257A4.9 4.9 0 0 1 9.5 14.392a4.9 4.9 0 0 1-4.896-4.894c0-2.7 2.196-4.896 4.896-4.896 2.7 0 4.895 2.196 4.895 4.896zm-1.685 0c0-1.771-1.44-3.21-3.21-3.21a3.213 3.213 0 0 0-3.21 3.21c0 1.77 1.44 3.209 3.21 3.209s3.21-1.44 3.21-3.21zm2.765-5.964c.23.229.362.549.362.875 0 .324-.132.643-.362.873-.23.23-.548.363-.874.363-.325 0-.644-.133-.874-.363-.23-.23-.363-.549-.363-.873 0-.326.133-.646.363-.875.23-.23.549-.362.874-.362.326 0 .645.132.874.362z"/></g></g></svg>

	<!-- youtube -->
	<svg xmlns="http://www.w3.org/2000/svg" width="19" height="23" viewBox="0 0 19 23"><g id="youtube"><g><path d="M16.071 16.821H14.82l.006-.732c0-.327.265-.593.589-.593h.08c.325 0 .59.266.59.593zm-4.114-1.092v3.567c0 .262-.26.476-.58.476-.317 0-.576-.214-.576-.476v-3.567c0-.264.26-.479.577-.479.318 0 .579.215.579.479zM19 13.256v6.783c0 1.627-1.399 2.958-3.109 2.958H3.108C1.398 22.997 0 21.667 0 20.04v-6.783c0-1.628 1.29-2.258 3-2.258h13c1.71 0 3 .63 3 2.258zM4 20.998v-7h2v-1H1v1h2v7zm4.711-6.304L8 14.998v4c0 .553-.577.34-.612.438-.107.295-.2 1.14-.388.562-.032-.101 0-.476 0-1v-4H6v3c.001.58-.018 1.804 0 2 .032.347-.32.77 0 1 1.47-.13 1.715-.383 2-1v1h1v-6zm4.227 4.37l-.003-3.176c-.001-1.21-.899-1.935-2.117-.956L11 12.999h-1v7.999l.582-.291.099-.508c1.387 1.283 2.259.405 2.257-1.135zm4.134-.421l-.99.005c-.001.04-.003.086-.003.135v.558c0 .3-.244.541-.541.541h-.194a.542.542 0 0 1-.542-.54v-1.467h2.268v-.862c0-.629-.016-1.258-.067-1.618-.163-1.138-1.746-1.319-2.546-.737a1.508 1.508 0 0 0-.555.753c-.113.328-.168.775-.168 1.343v1.894c0 3.148 3.79 2.702 3.338-.005zM11.864 7.836a15.26 15.26 0 0 1-.025-1.087V2.487h1.21v4.917c0 .266.218.484.482.484a.485.485 0 0 0 .483-.484V2.487h1.16v6.318H13.7l.025-.524c-.1.213-.224.372-.37.479a.833.833 0 0 1-.507.158.912.912 0 0 1-.54-.15.906.906 0 0 1-.318-.405 1.87 1.87 0 0 1-.127-.527zM7.528 4.795c0-.607.05-1.08.15-1.422.1-.34.28-.614.541-.82.26-.206.593-.311.999-.311.34 0 .632.068.876.2.245.133.434.305.565.518.134.214.224.433.273.658.05.227.073.571.073 1.034V6.25c0 .586-.023 1.018-.068 1.29-.045.275-.141.53-.29.77a1.383 1.383 0 0 1-.567.524 1.794 1.794 0 0 1-.8.169c-.335 0-.618-.046-.85-.144a1.173 1.173 0 0 1-.544-.438 1.957 1.957 0 0 1-.276-.708c-.056-.277-.082-.693-.082-1.245V4.795zm1.154 2.508c0 .358.263.651.585.651.322 0 .585-.293.585-.65V3.94c0-.357-.263-.65-.585-.65-.322 0-.585.293-.585.65zM4.604 4.16L2.857-.002h1.504l.885 3.092.873-3.083h1.52l-1.642 4.15-.002 4.845H4.606z"/></g></g></svg>
	

	<!-- btn-man -->
	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g id="man-btn"><g><path d="M13.348 24.984c0 .561-.454 1.016-1.014 1.016H3.107A3.088 3.088 0 0 1 .094 22.28a13.254 13.254 0 0 1 4.542-7.503 13.184 13.184 0 0 1 4.251-2.34 6.901 6.901 0 0 1-2.772-5.53C6.115 3.098 9.21 0 13.015 0c3.803 0 6.898 3.098 6.898 6.906s-3.095 6.907-6.899 6.907c-.087 0-.173-.003-.258-.006-5.156.12-9.622 3.82-10.676 8.886-.065.316.013.64.215.89.118.144.379.386.812.386h9.227c.56 0 1.014.454 1.014 1.015zm-.571-13.21l.237-.002c.04 0 .077.003.115.008a4.878 4.878 0 0 0 4.755-4.874 4.878 4.878 0 0 0-4.87-4.874 4.878 4.878 0 0 0-4.87 4.874 4.877 4.877 0 0 0 4.633 4.869zm9.57 8.082c0 .56-.454 1.015-1.014 1.015h-1.47c-.561 0-1.015-.454-1.015-1.015v-2.083a1.015 1.015 0 1 1 2.029 0v1.067h.456c.56 0 1.015.455 1.015 1.016zm3.653 0C26 23.244 23.246 26 19.862 26s-6.138-2.756-6.138-6.144c0-3.389 2.754-6.145 6.138-6.145S26 16.467 26 19.856zm-2.029 0a4.115 4.115 0 0 0-4.109-4.114 4.115 4.115 0 0 0-4.109 4.114 4.116 4.116 0 0 0 4.11 4.113 4.116 4.116 0 0 0 4.108-4.113z"/></g></g></svg>
	<!-- btn рука -->
	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g id="hand-svg"><g><path d="M23.969 16.758v-4.61c0-.79-.66-.874-.943-.874-.42 0-.647.353-.707.462-.314.57-.766.655-1.007.655-.268 0-.911-.104-1.097-1.064-.031-.16-.047-.312-.05-.329v-.016c-.08-.137-.422-.466-.868-.466a.862.862 0 0 0-.688.353 8.242 8.242 0 0 0-.016.103 4.365 4.365 0 0 1-.059.325c-.156.658-.66.89-1.044.89-.383 0-1.045-.255-1.097-1.214-.021-.388-.412-.715-.854-.715a.875.875 0 0 0-.837.655 1.004 1.004 0 0 1-.026.084v.376a1.015 1.015 0 1 1-2.031 0V2.895a.864.864 0 0 0-1.727 0v12.617c0 1.547-1.099 3.259-2.874 3.327a1.95 1.95 0 0 1-.834-.161L3.337 16.9a1.017 1.017 0 0 0-1.047 1.651l.713.51 4.876 3.041a12.298 12.298 0 0 0 6.514 1.865h5.945a3.621 3.621 0 0 0 3.431-2.443 1.016 1.016 0 0 1 1.923.657 5.652 5.652 0 0 1-5.354 3.817h-5.945c-2.686 0-5.31-.751-7.59-2.173l-4.902-3.058a.955.955 0 0 1-.052-.035l-.814-.581a1.02 1.02 0 0 1-.121-.101A3.024 3.024 0 0 1 0 17.875a3.05 3.05 0 0 1 4.037-2.882c.032.01.063.023.094.037l3.871 1.776c.55-.05.885-.779.885-1.294V2.895A2.898 2.898 0 0 1 11.78 0a2.897 2.897 0 0 1 2.895 2.894v5.464a2.94 2.94 0 0 1 2.908.695c.49-.364 1.089-.57 1.713-.57.704 0 1.405.258 1.973.728.15.123.283.256.399.393a2.745 2.745 0 0 1 1.357-.362c1.723 0 2.974 1.222 2.974 2.905v4.61a1.015 1.015 0 1 1-2.031 0zm-7.46-14.596A1.015 1.015 0 0 1 17.136.87l2.336-.813a1.015 1.015 0 1 1 .667 1.918l-2.336.813a1.012 1.012 0 0 1-1.292-.626zm0 2.735c.185-.53.764-.81 1.293-.625l2.336.812a1.016 1.016 0 0 1-.667 1.919l-2.336-.813a1.015 1.015 0 0 1-.625-1.293zM2.8.683c.184-.53.763-.81 1.292-.626L6.427.87a1.015 1.015 0 1 1-.667 1.918l-2.336-.813A1.015 1.015 0 0 1 2.8.683zm-.007 5.726a1.016 1.016 0 0 1 .65-1.28l2.337-.762a1.016 1.016 0 0 1 .63 1.931l-2.336.762a1.016 1.016 0 0 1-1.28-.651z"/></g></g></svg>
</div>
	<!-- scripts -->
		<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/plugins.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/slick/slick.min.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/fancy/jquery.fancybox.min.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/fancySelect.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/jquery.maskedinput.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/stepper.min.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/sly.min.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/libs/parallax.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/loadmore.js'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-content/themes/src/assets/js/script.js?v=1.1'></script>
<script type='text/javascript' src='https://kislorod-ok.ru/wp-includes/js/wp-embed.min.js?ver=5.2.5'></script>


		<script>
			if($('body').find('.contacts').length > 0){
			(function(){
				var offsetHeight = $(".contacts").offset().top - $(window).height();
				var mapFooter = false;
				var urlMap = $('.map-link').data('src');
				mapActivate ();
				 $(window).scroll(function(event) {
				    mapActivate ();
				  });
				function mapActivate (){
				  if(!mapFooter){
				  if($(document).scrollTop() > offsetHeight){
				    $("#map").append('<iframe src="'+ urlMap +'"style="width: 100%; height: 100%;" frameborder="0"></iframe>');
				    mapFooter = true;
				    }
				  }
				}
			}());
			}

			if($('body').find('.first').length > 0){
			  $('.first-btns').on('click', function(e) {
			  	e.preventDefault();
			    var msg = 'first-page=1';
			    var href = $(this).attr('href');
			    var action = 'https://kislorod-ok.ru/wp-admin/admin-ajax.php?action=firstOpen';

			    $.ajax({
			        type: "GET",
			        url: action,
			        data: msg,
			        success: function(data) {
			        	console.log(data);
			        	window.location = href;
			        },
			    });
			  });
			}



			$('form').submit(function(event) {

			    event.preventDefault();

			    var action = "https://kislorod-ok.ru/wp-admin/admin-ajax.php?action=formModal";
			    var msg = $(this).serialize();
			    var formThis = $(this);

			    $.ajax({
			        type: "POST",
			        url: action,
			        data: msg,
			        success: function(data) {


			            if(formThis.find('input[type="hidden"]').val() === "price" ){
			              var link = document.createElement('a');
			              link.setAttribute('href', "https://kislorod-ok.ru/wp-content/uploads/2019/12/kislorod-prai-s.pdf.pdf");
			              link.setAttribute('target', "_blank");
			              link.setAttribute('download','');

			                if(navigator.userAgent.indexOf('Mac') > 0){
			                  
			                  window.location = "https://kislorod-ok.ru/wp-content/uploads/2019/12/kislorod-prai-s.pdf.pdf"
			                }else{
			                  simulate( link, "click");

			                }

			              $(".overlay").fadeOut();
			              $('html').addClass('stop');
			              $("#modal-thanks").fadeIn();

			            }else if(formThis.find('input[type="hidden"]').val() === "catalog" ){
			              var link = document.createElement('a');
			              link.setAttribute('href', "https://kislorod-ok.ru/wp-content/uploads/2019/12/top-10.pdf");
			              link.setAttribute('target', "_blank");
			              link.setAttribute('download','');

			              if(navigator.userAgent.indexOf('Mac') > 0){
			                  window.location = "https://kislorod-ok.ru/wp-content/uploads/2019/12/top-10.pdf";
			                }else{
			                  simulate( link, "click");
			                }


			              $('html').addClass('stop');
			              $(".overlay").fadeOut();
			              $("#modal-thanks").fadeIn();

			            }else if(formThis.find('input[type="hidden"]').val() === "test"){
			              $("#started_the_calculation").fadeIn();
			              $('html').addClass('stop');
			              formThis.find('input').attr({
			                'disabled': 'true',
			              });
			              formThis.find('button').attr({
			                'disabled': 'true',
			              });
			              formThis.find('.input-label').css({'background': 'transparent'});
			              $('.test-prev , .test-next').attr({
			                'disabled': 'true',
			              });
			            }else{
			            	$('html').addClass('stop');
			            	$(".overlay").fadeOut();
			            	$("#modal-thanks").fadeIn();
			            }

			            $('form').trigger('reset');


			        },
			        error: function(xhr, str) {

			            alert('Произошла ошибка, попробуйте немного позже');
			        }
			    });
			});

		</script>
</body>
</html>